$white: #ffffff;
$white200: #e5feff;
$black: #000000;
$blue100: #7df7fa;
$blue200: #7df7fab3;
$grey: #171717;
$beige200: #c1c1c1;
$beige: #797979;
$beige100: #a0a0a0;
$maxWidth: 1280;

$fontJuraMedium: "jura-medium";
$fontProjectSpace: "projectspace";
